TOKEN=
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=https://seu-app.onrender.com/auth/discord/callback
MONGO_URI=
PORT=10000
OWNER_ID=
SUPPORT_SERVER_URL=https://discord.gg/seu-convite
INSTAGRAM_URL=https://instagram.com/seu_usuario
TWITTER_URL=
YOUTUBE_URL=
TIKTOK_URL=
